<!DOCTYPE html>
<html>

<head>
    <title>Đăng nhập</title>
    <link rel="stylesheet" href="~/css/login.css">
    <script type="text/javascript" src="https://ajax.googleapis.com/ajax/libs/jquery/3.5.1/jquery.min.js"></script>
</head>

<body>
    @RenderBody()
    <div class="hero">
        <div class="form-box">
            <div class="button-box">
                <div id="btn"></div>
                <button id="f1" type="button" class="toggle-btn">Login</button>
                <button id="f2" type="button" class="toggle-btn">Register</button>
            </div>
            <div style="width: 100%; display: flex; justify-content: center; align-items: center;" class="header">
                <h2>QuickQuiz</h2>
            </div>
            <form id="login" class="input-group">
                <input id="username1" type="text" class="input-field" placeholder="User ID" require>
                <input id="password1" type="password" class="input-field" placeholder="Password" require>
                <div style="height: 30px"></div>
                <div id="login_btn" class="submit-btn"><b>LOG IN</b></div>
            </form>
            <form id="register" class="input-group">
                <input id="username2"  type="text" class="input-field" placeholder="User ID" require>
                <input id="password2"  type="password" class="input-field" placeholder="Password" require>
                <input id="repassword2"  type="password" class="input-field" placeholder="Confirm password" require>
                <input id="fullname2"  type="text" class="input-field" placeholder="Full name" require>
                <div id="register_btn" class="submit-btn"><b>REGISTER</b></div>
            </form>
        </div>
    </div>
    <script>
        var LoginTab = document.getElementById("login");
        var RegisterTab = document.getElementById("register");
        var CurrentTab = document.getElementById("btn");

        $("#f1").click(function() {
            LoginTab.style.left = '50px';
            RegisterTab.style.left = "450px";
            CurrentTab.style.left = "0px";
        });
        $("#f2").click(function() {
            LoginTab.style.left = '-400px';
            RegisterTab.style.left = "50px";
            CurrentTab.style.left = "110px";
        });
        $('#login_btn').click(function() {
            @* $.ajax({
                url: 'Home/Login',
                data: {
                    username: $('#username1').val(),
                    password: $('#password1').val()
                },
                dataType: "int",
                success: function(data) {
                        console.log(data);
                        location.href = '/Home/Home'; 
                    
                },
                error: function(data) {
                    alert(data);
                }
            }); *@
            console.log("123");
            window.location.href = '@Url.Content("/Home/Home")';
        })
    </script>
</body>
</html>


